<html>
<head>
<title>Backpacking Weights App</title>
<link rel="stylesheet" href="/static/styles.css">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>
<body>
<div id="mainMenu"><h1>Menu</h1>
<p>Pick a page to go to</p>
<ol>
<li><a href="/">Home</a></li>
<li><a href="/fun">Fun</a></li>
<li><a href="/editbackpack">Edit Backpack</a></li>
<li><a href="inventory">inventory</a></li>
<li><a href="https://www.w3schools.com/html/">Visit our HTML tutorial</a></li>
<li><a href="https://www.w3schools.com/html/">Visit our HTML tutorial</a></li>
</ol>
</div>

<div id="mainContent">
{% block body %}{% endblock %}
</div>

</body>
</html>
