{% extends "base.html" %}

{% block body %}
<h1>Home Page</h1>
<p>This is a backpacking webpage.  It has the ability to store items, share items between
users, and save items to a backpack.  It can create pack lists and give data readout for
a given backpack setup. Because of the ability to share data between users you have the
ability to compare other users fancy gear as well as the weights of their sawed-off toothbrush
and homemade stove.  </p>

<p style="color:red; format=bold, underline;">I am under construction.  Please don't break me!  </p>

{% endblock %}
